name: MJBarChart Tests

on: push

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Setup Node and NPM
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: "npm"
            - name: Install and Build
              run: npm ci
            - name: Format and Lint
              run: npm run fl:ci
            - name: Tests
              run: npm run test:coverage
            - name: SonarQube
              uses: SonarSource/sonarqube-scan-action@v7
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            - name: Generate Changelog
              if: github.ref_type == 'tag'
              run: |
                  echo "# What's new ?" > CHANGELOG.md
                  git log --pretty='- %h %s by %aN' --no-merges $(git describe --tags --abbrev=0 @^)..@ >> CHANGELOG.md
            - name: Pre Release
              uses: softprops/action-gh-release@v2
              if: github.ref_type == 'tag'
              with:
                  body_path: CHANGELOG.md
                  draft: true
